[defaults]
# This is the default location of the inventory file, script, or directory that Ansible will use to #de
inventory = hosts
deprecation_warnings=False
#specify here the remote hosts so we do not need to config them in main ssh config
[ssh_connection]
transport=ssh
ssh_args= -F ssh.config